* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Sora', sans-serif;
}

ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

html body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6rem;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.cabecalho .cabecalho__logo {
  height: 40px;
}

.cabecalho .cabecalho__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-shrink: 0; 
}

.cabecalho__nav .cabecalho__link {
  color: black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  text-transform: capitalize; 
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.cabecalho__nav .cabecalho__link:hover {
  scale: 1.1;
}

.cabecalho .cabecalho__botao-container {
  background: black;
  border: 2px solid white;
  border-radius: 0.25rem; 
  cursor: pointer;
  display: flex;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
  transition: all .3s ease-in-out;
}

.cabecalho .cabecalho__botao-container:hover {
  filter: invert();
}

.cabecalho__botao-container .cabecalho__botao {
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3.75rem 0;

  height: 37.25rem;

  background-image: url("./../img/boy3.svg"); 
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner .banner__textos {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
}

.banner .banner__titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}

.banner__titulo .banner__titulo-fw400 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.banner__titulo .banner__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

body .principal .outlined {
  color: white;
  text-shadow:
    1.41px 1.41px black,
    2px 0 black,
    1.41px -1.41px black,
    0 -2px black,
    -1.41px -1.41px black,
    -2px 0 black,
    -1.41px 1.41px black,
    0 2px black;
}

.banner__textos .banner__descricao {
  align-self: stretch;
  color: #71717A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem; 
  width: 32vw;
}

.banner__textos .banner__redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 20rem;

  position: relative;
  left: 0;
  bottom: -80px; 
}

.banner__redes .banner__redes-link {
  border-radius: 0.25rem;
  border: 2px solid black;
  background: white;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.banner__redes .banner__redes-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.banner__redes .banner__redes-link:has(> .banner__redes-facebook) {
  background: black;
  border-color: white;
}

.banner__redes .banner__redes-link:hover {
  filter: invert();
  scale: 1.1;
}

.skills {
  padding: 7.5rem 0 3.75rem 0;
  text-align: center;
}

.skills .skills__titulo {
  padding: 1.25rem 0 2.5rem 0;
}

.skills .skills__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  gap: 2rem;
}

.skills__cards .skills__card {
  border-radius: 0.25rem;
  border: 2px solid black;
  background: white; 
  cursor: crosshair;

  display: flex;
  width: 186px;
  height: 186px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all .3s ease-in-out;
}

.skills__cards .skills__card:hover {
  filter: invert();
  scale: 1.1;
}

.skills__card .skills__cardTitulo {
  align-self: stretch; 
  color: black;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025;
  text-transform: capitalize; 
}

.skills .skills__titulo {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.skills__titulo .skills__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.formacoes {
  background: black;
  margin: 0 auto;
  padding: 3.75rem 2rem;
  text-align: center;
}

.formacoes .formacoes__titulo {
  color: white;
  padding: 1.25rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.formacoes__titulo .formacoes__titulo-fw800 {
  color: white;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.formacoes .formacoes__container {
  display: flex;
  padding: 2.5rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch; 
}

.formacoes .formacao {
  cursor: crosshair;
  display: flex;
  padding: 1.875rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  align-self: stretch; 
  background: black;

  border-radius: 10px;
  border: 1px solid gray;

  transition: all 0.4s ease-in-out;
}

.formacoes .formacao:hover {
  filter: invert();
  scale: 1.02;
}

.formacao .formacao__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.formacao__header .formacao__logo-uni {
  background-image: url("./../img/unifatecie-logo.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}
.formacao__header .formacao__logo-alu {
  background-image: url("./../img/alura-logo.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}
.formacao__header .formacao__logo-sei {
  background-image: url("./../img/senai-logo.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}

.formacao__header .formacao__titulo {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.03rem; 
}

.formacao__header .formacao__periodo {
  align-self: flex-end;
  color: #D4D4D8;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.02rem; 
}

.formacao .formacao__body p {
  color: #D4D4D8;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem; 
  text-align: start;
}

#sobreMim {
  padding: 3.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.sobreMim .sobreMim-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
}

.sobreMim .sobreMim__titulo {
  color: black;
  padding: 1.25rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.sobreMim__titulo .sobreMim__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

#projetos {
  background: black;
  color: white;
  margin: 0 auto;
  padding: 3.75rem 2rem;
}

.projetos .projetos__titulo {
  color: color;
  padding: 1.25rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
  text-align: center;
}

.projetos__titulo .projetos__titulo-fw800 {
  color: color;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem; 
}

.projetos .projetos__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 2rem 1.25rem 2rem;
}

.projetos__container .projeto {
  display: flex;
  padding: 2.5rem 0;
  align-items: center;
  gap: 3.75rem;
  align-self: stretch; 
}

.projeto .projeto__imagemContainer {
  border-radius: 18.761px;
  background: url("../img/image\ 770.jpg"), lightgray 50% / cover no-repeat;
  box-shadow: 0px 12px 42px -4px rgba(24, 39, 75, 0.12), 0px 8px 18px -6px rgba(24, 39, 75, 0.12);

  width: 530px;
  height: 397.735px;
  flex-shrink: 0;
  cursor: crosshair;

  transition: all 1s ease-in-out;
}

.projeto .projeto__imagemContainer:hover {
  animation: pulse 2.2s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		transform: scale(1);
    position: relative;
    bottom: 0;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	60% {
		transform: scale(1.04);
    position: relative;
    bottom: 1rem;
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
    position: relative;
    bottom: 0;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.projeto .projeto__textoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}

.projeto__textoContainer .projeto__numero {
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.96px; 
}

.projeto__textoContainer .projeto__titulo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.64px; 
}

.projeto__textoContainer .projeto__descricao {
  color: #71717A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px; 
}

.projeto .projeto__linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projeto__linksContainer .projeto__link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.projeto__linksContainer .projeto__link:hover {
  scale: 1.05;
}

#contato {
  display: flex;
  padding: 3.75rem 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.contato .form__container {
  padding: 1.25rem 0;
}

.form__container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch; 
}

.form__container form input {
  border-radius: 4px;
  border: 1.4px solid black;

  display: flex;
  width: 500px;
  height: 56px;
  padding: 1rem 1.5rem;
  align-items: center;

  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.32px; 
}

.form__container form textarea {
  border-radius: 4px;
  border: 1.4px solid black;
  resize: none;

  display: flex;
  width: 500px;
  height: 140px;
  padding: 1rem 1.5rem;
  align-items: flex-start; 

  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.32px; 
}

.form__container .form__submitButton {
  border-radius: 4px;
  border: 2px solid white;
  background: black;
  cursor: pointer;

  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.4px; 

  display: flex;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.form__container form .form__submitButton-container {
  display: flex;
  gap: 1.5rem;
}

.form__container form .form__submitButton__redes {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.form__container .form__submitButton:hover {
  filter: invert();
}

.contato .contato__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 1 0 0;
  align-self: stretch; 
}

.contato__info-titulos .contato__info__titulo {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.96px; 
}

.contato__info-descricao p {
  color: #71717A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  margin-bottom: 1.25rem;
}

.contato__info .contato__info-meios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch; 
}

.contato__info-meios h3 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.56px; 
}
