* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:target {
  scroll-margin-top: 0.8em;
}

html body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6rem;
}

.animate {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;
}

.animate.active {
  opacity: 1;
  transform: translateY(0);
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.cabecalho .cabecalho__logo {
  height: 3.5rem;
}

.cabecalho .cabecalho__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-shrink: 0;
}

.cabecalho__nav .cabecalho__link {
  color: black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.cabecalho__nav .cabecalho__link:hover {
  scale: 1.1;
}

.cabecalho .cabecalho__botao-container {
  background: black;
  border: 2px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.cabecalho .cabecalho__botao-container:hover {
  filter: invert();
}

.cabecalho__botao-container .cabecalho__botao {
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}

.cabecalho .cabecalho__menu-mobile {
  display: none;
}

.cabecalho__menu-mobile .cabecalho__menu-mobile--nav {
  display: none;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3.75rem 0;

  height: 37.25rem;

  background-image: url("./../img/boy3.svg");
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner .banner__imagem {
  display: none;
}

.banner .banner__textos {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
}

.banner .banner__titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
}

.banner__titulo .banner__titulo-fw400 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.banner__titulo .banner__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

body .principal .outlined {
  color: white;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black, -1.41px 1.41px black,
    0 2px black;
}

.banner__textos .banner__descricao {
  align-self: stretch;
  color: #71717a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  width: 32vw;
}

.banner__textos .banner__redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 20rem;

  position: relative;
  left: 0;
  bottom: -80px;
}

.banner__redes .banner__redes-link {
  border-radius: 0.25rem;
  border: 2px solid black;
  background: white;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.banner__redes .banner__redes-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.banner__redes .banner__redes-link:has(> .banner__redes-facebook) {
  background: black;
  border-color: white;
}

.banner__redes .banner__redes-link:hover {
  filter: invert();
  scale: 1.1;
}

.skills {
  padding: 7.5rem 0 3.75rem 0;
  text-align: center;
}

.skills .skills__titulo {
  padding: 1.25rem 0 2.5rem 0;
}

.skills .skills__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  gap: 2rem;
}

.skills__cards .skills__card {
  border-radius: 0.25rem;
  border: 2px solid black;
  background: white;
  cursor: crosshair;

  display: flex;
  width: 186px;
  height: 186px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.skills__cards .skills__card:hover {
  filter: invert();
  scale: 1.1;
}

.skills__card .skills__cardTitulo {
  align-self: stretch;
  color: black;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025;
  text-transform: capitalize;
}

.skills .skills__titulo {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.skills__titulo .skills__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.formacoes {
  background: black;
  margin: 0 auto;
  padding: 3.75rem 2rem;
  text-align: center;
}

.formacoes .formacoes__titulo {
  color: white;
  padding: 1.25rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.formacoes__titulo .formacoes__titulo-fw800 {
  color: white;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.formacoes .formacoes__container {
  display: flex;
  padding: 2.5rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.formacoes .formacao {
  cursor: crosshair;
  display: flex;
  padding: 1.875rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  align-self: stretch;
  background: black;

  border-radius: 10px;
  border: 1px solid gray;

  transition: all 0.4s ease-in-out;
}

.formacoes .formacao:hover {
  filter: invert();
  scale: 1.02;
}

.formacao .formacao__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.formacao__header .formacao__logo-uni {
  background-image: url("./../img/unifatecie-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}
.formacao__header .formacao__logo-alu {
  background-image: url("./../img/alura-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}
.formacao__header .formacao__logo-sei {
  background-image: url("./../img/senai-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 2rem;
  height: 2rem;
}

.formacao__header .formacao__titulo {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.03rem;
}

.formacao__header .formacao__periodo {
  align-self: flex-end;
  color: #d4d4d8;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.02rem;
}

.formacao .formacao__body p {
  color: #d4d4d8;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  text-align: start;
}

#sobreMim {
  padding: 3.75rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.sobreMim .sobreMim__imagem img {
  width: 31.483vw;
}

.sobreMim .sobreMim-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
}

.sobreMim .sobreMim__titulo {
  color: black;
  padding: 1.25rem 0 0 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.sobreMim__titulo .sobreMim__titulo-fw800 {
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.sobreMim-container p {
  color: #71717a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}

#projetos {
  background: black;
  color: white;
  margin: 0 auto;
  padding: 3.75rem 2rem;
}

.projetos .projetos__titulo {
  color: white;
  padding: 1.25rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
  text-align: center;
}

.projetos__titulo .projetos__titulo-fw800 {
  color: white;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

.projetos .projetos__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 2rem 1.25rem 2rem;
}

.projetos__container .projeto {
  display: flex;
  padding: 2.5rem 0;
  align-items: center;
  gap: 3.75rem;
  align-self: stretch;
}

.projeto .projeto__imagemContainer {
  border-radius: 18.761px;
  background: url("../img/image\ 770.jpg"), lightgray 50% / cover no-repeat;
  box-shadow: 0px 12px 42px -4px rgba(24, 39, 75, 0.12),
    0px 8px 18px -6px rgba(24, 39, 75, 0.12);

  width: 530px;
  height: 397.735px;
  flex-shrink: 0;
  cursor: crosshair;

  transition: all 1s ease-in-out;
}

.projeto .projeto__imagemContainer.projeto-01 {
  background: url("../img/projeto-01.png") no-repeat center / cover;
}

.projeto .projeto__imagemContainer.projeto-02 {
  background: url("../img/projeto-02.png") no-repeat center / cover;
}

.projeto .projeto__imagemContainer.projeto-03 {
  background: url("../img/projeto-03.png") no-repeat center / cover;
}

.projeto .projeto__imagemContainer.projeto-04 {
  background: url("../img/projeto-04.png") no-repeat center / cover;
}

.projeto .projeto__imagemContainer.projeto-05 {
  background: url("../img/projeto-05.png") no-repeat center / cover;
}

.projeto .projeto__imagemContainer.projeto-git {
  background: url("../img/github-mark-white.svg") no-repeat center / cover;
}

.projeto .projeto__imagemContainer:hover {
  animation: pulse 2.2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    position: relative;
    bottom: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  60% {
    transform: scale(1.04);
    position: relative;
    bottom: 1rem;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1);
    position: relative;
    bottom: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.projeto .projeto__textoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}

.projeto__textoContainer .projeto__numero {
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.96px;
}

.projeto__textoContainer .projeto__titulo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.64px;
}

.projeto__textoContainer .projeto__descricao {
  color: #71717a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}

.projeto .projeto__linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projeto__linksContainer .projeto__link {
  color: white;
  transition: all 0.3s ease-in-out;
}

.projeto__linksContainer .projeto__link:hover {
  scale: 1.05;
}

#contato {
  display: flex;
  padding: 3.75rem 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.contato .form__container {
  padding: 1.25rem 0;
}

.form__container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.form__container form input {
  border-radius: 4px;
  border: 1.4px solid black;

  display: flex;
  width: 500px;
  height: 56px;
  padding: 1rem 1.5rem;
  align-items: center;

  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.32px;
}

.form__container form textarea {
  border-radius: 4px;
  border: 1.4px solid black;
  resize: none;

  display: flex;
  width: 500px;
  height: 140px;
  padding: 1rem 1.5rem;
  align-items: flex-start;

  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.32px;
}

.form__container .form__submitButton {
  border-radius: 4px;
  border: 2px solid white;
  background: black;
  cursor: pointer;

  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.4px;

  display: flex;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.form__container form .form__submitButton-container {
  display: flex;
  gap: 1.5rem;
}

.form__container form .form__submitButton__redes {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.form__container .form__submitButton:hover {
  filter: invert();
}

.form__container .form__submitButton:disabled {
  opacity: 0.5;
}

.success,
.error {
  color: greenyellow;
  width: 500px;
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

.contato .contato__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 1 0 0;
  align-self: stretch;
}

.contato__info-titulos .contato__info__titulo {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.96px;
}

.contato__info-descricao p {
  color: #71717a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  margin-bottom: 1.25rem;
}

.contato__info .contato__info-meios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.contato__info-meios h3 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.56px;
}

#rodape {
  background: black;
  color: white;

  position: absolute;
  left: 0;
  width: 100vw;

  display: flex;
  padding: 1.5rem 12.375rem;
  align-items: center;
  justify-content: space-between;
}

.rodape .rodape__logo {
  filter: invert();
  height: 3.5rem;
}

.rodape .rodape__linkFigma,
.rodape h4 {
  color: white;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.32px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.rodape .rodape__linkFigma:hover {
  scale: 1.05;
}

@keyframes show {
  0% {
    margin-right: -80vw;
    background-color: white;
  }
  100% {
    margin-right: 0;
    background-color: black;
  }
}

@keyframes desaparecer {
  0% {
    margin-right: 0;
    background-color: black;
  }
  100% {
    margin-right: -90vw;
    background-color: white;
  }
}

@media screen and (max-width: 1280px) {
  html body {
    padding: 0 4rem;
  }

  .skills .skills__cards {
    gap: 1rem;
  }

  .skills__cards .skills__card {
    width: 166px;
    height: 176px;
    gap: 2rem;
  }

  .projeto .projeto__imagemContainer {
    width: 45vw;
    height: 35vw;
  }
}

@media screen and (max-width: 1024px) {
  html body {
    padding: 0 3rem;
  }

  .banner {
    padding: 3.75rem 0;
    height: 40.25rem;
    background-size: contain;
    background-image: none;
  }

  .banner .banner__imagem {
    display: inline-block;
    width: 65vw;
    position: absolute;
    margin-top: 12rem;
    right: 5vw;
  }

  .skills .skills__cards {
    justify-content: flex-start;
    gap: 3.1rem;
  }

  .projeto .projeto__imagemContainer {
    width: 35vw;
    height: 30vw;
  }

  #contato {
    flex-direction: column;
    gap: 4rem;
  }

  #rodape {
    padding: 1.5rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  html body {
    padding: 0 2rem;
  }

  .banner .banner__imagem {
    display: none;
  }

  .cabecalho {
    flex-direction: column;
    gap: 1.25rem;
  }

  .banner {
    padding: 2rem 0;
    height: auto;
    background-image: none;
  }

  .banner__textos .banner__descricao {
    width: auto;
  }

  .banner .banner__textos {
    height: auto;
  }

  .skills__cards .skills__card {
    width: 28%;
    height: 186px;
  }

  #projetos {
    padding: 3rem 0.5rem;
  }

  .projetos .projetos__container {
    gap: 1rem;
    padding: 0;
  }

  .projetos__container .projeto {
    gap: 1rem;
  }

  .projeto .projeto__imagemContainer {
    width: 40.5vw;
    height: 30.5vw;
  }

  #contato {
    padding: 3rem 1.5rem;
    flex-direction: column;
    gap: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .cabecalho {
    padding: 1rem 0;
    flex-direction: row;
  }

  .cabecalho .cabecalho__nav,
  .cabecalho .cabecalho__botao-container {
    display: none;
  }

  .cabecalho .cabecalho__menu-mobile {
    display: inline-block;
  }

  .cabecalho .cabecalho__menu-mobile svg {
    width: 36px;
    height: 36px;

    cursor: pointer;
  }

  .cabecalho .cabecalho__menu-mobile:hover .cabecalho__menu-mobile--nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: show 0.6s normal ease-in-out;
    background: black;
    position: fixed;
    box-shadow: -20px 0px 40px 120px #00000073;
    top: 0;
    right: 0;
    z-index: 5;
    gap: 8rem;
    width: 100vw;
    height: 100vh;
  }

  .cabecalho__menu-mobile--nav .cabecalho__navMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .cabecalho__menu-mobile .cabecalho__menu-mobile--fechar {
    background: white;
    border: 2px solid black;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 1rem 1.25rem;
  }

  .cabecalho__navMobile .cabecalho__navMobilelink {
    color: white;
    font-family: Sora;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.4px;
    text-transform: capitalize;
  }

  .banner {
    height: auto;
    background-image: none;
    flex-direction: column;
    padding: 2.5rem 0;
  }

  .banner .banner__imagem {
    display: inline-block;
    align-self: center;
    width: 90%;
    margin-bottom: 3rem;
    position: static;
    margin-top: 0;
  }

  .banner__titulo .banner__titulo-fw400 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.035rem;
  }

  .banner__titulo .banner__titulo-fw800 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.035rem;
  }

  .banner__textos .banner__descricao {
    width: 100%;
  }

  .banner__textos .banner__redes {
    position: static;
  }

  .skills {
    padding: 2.5rem 0;
  }

  .skills .skills__titulo {
    padding: 1.25rem 0;
  }

  .skills .skills__titulo {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .skills__titulo .skills__titulo-fw800 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .skills__cards .skills__card {
    width: 186px;
    height: 186px;
  }

  .skills .skills__cards {
    justify-content: space-evenly;
    padding: 1.25rem 0 0 0;
    gap: 1.25rem;
  }

  .formacoes {
    padding: 2.5rem 1rem;
  }

  .formacoes .formacoes__titulo {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .formacoes__titulo .formacoes__titulo-fw800 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .formacao .formacao__header {
    flex-direction: column;
  }

  .formacao__header .formacao__titulo {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.4px;
  }

  .formacao__header .formacao__periodo {
    margin: 1rem 0;
    align-self: flex-start;
  }

  #sobreMim {
    flex-direction: column;
    gap: 1.25rem;
  }

  .sobreMim .sobreMim__imagem img {
    width: 100%;
  }

  .sobreMim .sobreMim__titulo {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .sobreMim__titulo .sobreMim__titulo-fw800 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  #projetos {
    flex-direction: column;
    padding: 2.5rem 1rem;
  }

  .projetos .projetos__titulo {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .projetos__titulo .projetos__titulo-fw800 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .projetos .projetos__container {
    padding: 1.25rem 0;
    gap: 1.75rem;
  }

  .projetos__container .projeto {
    flex-direction: column;
    padding: 0;
    gap: 1.75rem;
  }

  .projetos__container .projeto:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .projeto__textoContainer .projeto__numero {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.48px;
  }

  .projeto__textoContainer .projeto__titulo {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.4px;
  }

  .projeto .projeto__imagemContainer {
    width: 80vw;
    height: 40vh;
  }

  #contato {
    flex-direction: column;
    gap: 1.25rem;
    padding: 2.5rem 1rem;
  }

  .form__submitButton-container .form__submitButton {
    font-size: 1rem;
  }

  .contato .contato__info {
    gap: 2rem;
  }

  .contato__info-titulos .contato__info__titulo {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.56px;
  }

  .contato__info .contato__info-meios h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.4px;
  }

  #rodape {
    position: absolute;
    left: 0;
    width: 98vw;
    padding: 1.25rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  html body {
    padding: 0 1rem;
  }

  .skills__cards .skills__card {
    width: 156px;
    height: 156px;
    gap: 1rem;
  }

  .form__container form input,
  .form__container form textarea {
    width: 80vw;
  }

  .form__container form .form__submitButton-container {
    gap: 0.5rem;
  }

  .form__container form .form__submitButton__redes {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  html body {
    padding: 0 0.5rem;
  }

  .banner__textos .banner__redes {
    gap: 1.5rem;
    width: 80%;
  }

  .projeto .projeto__imagemContainer {
    width: 90vw;
    height: 40vh;
  }

  .form__container form .form__submitButton-container {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  html body {
    padding: 0 0.25rem;
  }

  .banner__textos .banner__redes {
    gap: 1rem;
    width: 90%;
  }

  .projeto .projeto__imagemContainer {
    height: 30vh;
  }

  .skills__cards .skills__card {
    width: 142px;
    height: 142px;
  }

  #rodape {
    width: 99vw;
  }
}

@media screen and (max-width: 290px) {
  html body {
    padding: 0;
  }

  .banner .banner__imagem {
    width: 80%;
    margin-bottom: 1rem;
  }

  .banner .banner__titulo {
    gap: 0.5rem;
  }

  .banner__titulo div {
    flex-direction: column;
    text-align: center;
  }

  .banner__textos .banner__redes {
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .skills__cards .skills__card {
    width: 112px;
    height: 112px;
  }

  .formacao__header div {
    flex-direction: column;
  }

  .projeto .projeto__imagemContainer {
    height: 20vh;
  }

  #rodape {
    width: 99vw;
  }
}
